body {
    padding-bottom: 20px;
    /* background: linear-gradient(to bottom right, rgb(197, 35, 197) 0%, #fff 100%); */
  }
.navbar {
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #d78aeb 0%, #fff 100%);
}
.navbar-brand{
  color: #d63384;
  width: 80%;
  height: 35px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  font-family:initial;
  font-style: normal;
  align-items: center;

}

main{
  background: linear-gradient(to bottom right, #cc80df 0%, #fff 100%)
}

.history .card-img{
  opacity: 1;
}




@media (min-width: 768px) and (max-width: 1199.98px) { }

